body {
    font-family: "Fira Sans Condensed", sans-serif;
    margin: 0;
    color: #3B3936;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    height: 100px;
}

.logo {
    width: 200px;
    height: 60px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav ul li {
    position: relative;
}

nav ul li {
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
}

nav ul li:hover {
    color: orangered;
    text-decoration: dashed;
    border-bottom: 2px solid orange;
}

nav ul li a button {
    color: red;
    font-weight: 700;
    background-color: white;
    transition: all ease-in-out 0.3s;
    padding: 8px 16px;
    border: 1px solid red;
}

nav ul li a button:hover {
    color: white;
    background-color: red;
    border-color: transparent;
}

/* Dropdown Styles */
.dropdown-menu {
    /* padding-top: 40px transparent; */
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    min-width: 160px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 10;
    transition: all ease-in-out 0.3s;
}

.dropdown-menu li {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.dropdown-menu li:hover {
    /* background-color: white; */
    border-bottom: 0px solid transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.active {
    color: orangered;
    text-decoration: dashed;
    border-bottom: 2px solid orange;
}

/* sub-dropdown */

.sub-dropdown-menu {
    display: none;
    position: absolute;
    top: 0%;
    left: 90%;
    width: 200px;
    min-width: 160px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 10;
    transition: all ease-in-out 0.3s;
}
.sub-dropdown-menu li{
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.sub-dropdown-menu li:hover{
    border-bottom: 0px solid transparent;
}
.sub-dropdown:hover .sub-dropdown-menu{
    display: block;
}

.product-drop {
    background-color: #EFEFEF;
}

.product-drop-img {
    background-image: url('https://www.parallelwireless.com/wp-content/uploads/megamenu-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-drop-img a i {
    font-weight: 900;
}

.drop-list li {
    color: black;
    font-weight: 400;
}

.drop-list li:hover {
    color: orange;
}

.dropdown-mega-menu {
    /* padding-top: 40px transparent; */
    display: none;
    position: absolute;
    top: 150%;
    left: -375%;
    width: 94.5em;
    min-width: 160px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 10;
    transition: all ease-in-out 0.3s;
}

.dropdown-mega-menu li {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.dropdown-mega-menu li:hover {
    /* background-color: white; */
    border-bottom: 0px solid transparent;
}

.dropdown-mega:hover .dropdown-mega-menu {
    display: block;
}

.active {
    color: orangered;
    text-decoration: dashed;
    border-bottom: 2px solid orange;
}

.sub-drop-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    min-width: 160px;
    background-color: #f0f0f0;
    /* border: 1px solid #ccc; */
    font-weight: 400;
    z-index: 10;

    transition: all ease-in-out 0.3s;
}

.sub-drop-menu li {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.sub-drop-menu li:hover {
    /* background-color: white; */
    border-bottom: 0px solid transparent;
}

.sub-drop:hover .sub-drop-menu {
    display: block;
}

.hero {
    padding-top: 34%;
    /* margin-top: 50px; */
    /* padding-bottom: 100%; */
    /* margin-top: 24em; */
    background-image: url('https://www.parallelwireless.com/wp-content/uploads/in-building-hero.jpg');
    background-size: cover;
    background-position: center top 100px;
    background-attachment: scroll;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    z-index: 0;
    /* Fixed background */
}

.solution-content {
    background-color: #f0f0f0;
    opacity: 0.6;
}

/* .hero-nav {
    background-color: #EFEFEF;
}

.active-hero {
    background-color: orangered !important;
    color: white !important;
} */

.download {
    background-color: #EFEFEF;
    z-index: 999;
}

.info-button a button {
    background-color: orangered;
    color: white;
    font-size: medium;
    font-weight: bold;
    transition: all ease-in-out 0.3s;

}

.info-button a button:hover {
    background-color: white;
    color: orangered;
}

.benifits {
    background-image: url('https://www.parallelwireless.com/wp-content/uploads/how-to-buy-bg-1600x575.jpg');
    background-size: contain;
    background-position: center top 100px;
    background-attachment: scroll;
    background-size: 100% 500px;
    /* background-repeat: no-repeat; */
    z-index: 0;
}

.benifits-container {
    background-color: #FFFFFFE0;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
}

.benifits-list-span {
    color: #3B3936;
}

.video {
    /* padding: 50%; */
    background-image: url('https://www.parallelwireless.com/wp-content/uploads/inland-cellular-video-opt.jpg');
    background-size: cover;
    background-position: center top 100px;
    background-attachment: scroll;
    background-size: 90% 400px;
    background-repeat: no-repeat;
    z-index: 0;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    padding-top: 50px;
    border:o;
    padding-bottom: 20px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    text-align: center;
    background-color: #f1f1f1;
    border-bottom:orangered;
    border-bottom-style: solid;
border-bottom-color: coral;
align-items: center;
  }
  .card :hover{
    background-color: orangered;
  }

footer {
    background-image: url('https://www.parallelwireless.com/wp-content/themes/parallel-wireless/assets/img/pattern-bg.jpg');
}

.imp-link li a {
    color: black;
    transition: all ease-in-out 0.2s;
}

.imp-link li a:hover {
    color: orange;
}

.active-footer {
    color: orange !important;
}